*:before, *:after, * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: #BFB3B4;
  font-family: 'Open Sans', sans-serif;
}

header {
  align-items: center;
  background-color: #3B2B34;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #FFFFFF;
  letter-spacing: 2px;
  margin-left: 26px;
  padding-bottom: 0px;
}

.header-logo {
  height: 30px;
  margin: auto 5px;
  position: relative;
  top: 1px;
  vertical-align: baseline;
} 

.header-search {
  display: flex;
  height: 34px;
  margin-right: 26px;
}

.search-input {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 14px;
  height: 28px;
  padding-left: 12px;
  width: 15rem;
}

.magnify-me {
  background-color: #BFB3B4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  height: 28px;
  padding: 5px;
  width: 30px;
}

.magnify-me:hover {
  background-color: #938284;
  cursor: hover;
}

form {
  display: flex;
  flex-direction: column; 
  margin: auto;
  padding-bottom: 15px;
  width: 65%;
}

.top-section{
  background: #3B2B34;
}

.form-styles {
  border: 0px;
  color: #9C8E92;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

label {
  color: #656372;
  font-weight: 300;
}

.title-input {
  height: 35px;
  padding: 8px 12px;
  border: 1.5px solid #D5D2D9;

}

.form-btn {
  border: 0px;
  background-color: #5B4447;
  color: #FEFEFE;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 30px;
  padding: 8px 0;
  width: 42%;
}

.form-btn:hover {
  background-color: #938284;
  cursor: pointer;
}

.input-btn + label {
  background-color: #5B4447;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 30px;
  padding: 8px 0;
  text-align: center;
}

.input-btn + label:hover {
  background-color: #938284;
  cursor: pointer;
}

.input-btn {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.quality-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/*---------------CARD SECTION--------------------*/
.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.box {
  background-color: #FFFFFF;
  border: 1.5px solid #96898A;
  color: #3B2B34;
  height: 320px;
  margin: 35px 15px 0px 15px;
  width: 225px;
}

h2, h3 {
  font-size: medium;
  font-weight: 500;
  line-height: 1.5;
  margin: 10px;
}

h3 {
  line-height: 1.25;
  height: 80px;
}

.card-image {
  height: 125px;
  width: 221px;
  object-fit: cover;
/*  position: relative;
  left: 1px;*/
}

.card-footer {
  background-color: #5B4447;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-icons {
  cursor: pointer;
  height: 25px;
}

.show-btn {
  display: flex;
  justify-content: center;
  margin: 55px auto;
  width: 65%;
}

#add-request:hover {
  background-color: #5B4447;
  cursor: initial;
}

.hidden-msg {
  display: none;
}

/*----------------MEDIA QUERIES------------------*/

/*@media only screen and (min-width: 1100px) {
  .card-area {
    width: 1100px;
    justify-content: center;
  }
}*/

@media only screen and (max-width: 650px) {
  header {
    flex-direction: column;
  }

  h1 {
    font-size: 2em;
    margin: 0px;
    margin-top: 10px;
  }

  .header-search {
    margin: 20px auto;
  }

  .quality-buttons {
    flex-direction: column;
  }

  .q-btn {
    width: 100%
  }

  .form-btn {
    width: 100%;
  }

  .show-btn {
    width: 65%;
  }

  .box {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 420px) {
  form {
    width: 271px;
  }

  .header-search {
    width: 274px;
  }

  .show-btn {
    margin-top: 35px;
    width: 271px;
  }
}
